<h1>Submit a new message</h1>
<form method="POST" action="/new">
    <label for="userText">User:</label>
    <input type="text" name="userText">
    <label for="messageText">Message:</label>
    <textarea name="messageText" id="message"></textarea>\
    <button type="submit">Submit</button>
</form>