<h1>Messages:</h1>
<a href="/new"><button>Add a new message</button></a>
<ul>
   <% messages.forEach((message,index)=>{ %>
    <li>
        <p><%= message.user %></p>
        <p><%= message.text %></p>
        <p><%= message.date %></p>
        <a href="<%='/messages/' + (index + 1) %>">OPEN</a>
    </li>
   <% }) %>
</ul>